*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Poppins", sans-serif;
  }

/* navbar */
.navbar{
    padding: 50px 0;
    margin-right: 25px;
    margin-top: 20px;
    background-color: transparent !important;
}

.navbar.navbar-expand-lg.navbar-dark {
    background-color: transparent !important;
    box-shadow: none;
    colro: white;
}

.navbar-scrolled .nav-link {
  color: #000000 !important; /* Warna teks navbar saat digulir */
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white !important;
    margin-right: auto;
    margin-left: 20px;
}

.navbar-scrolled .navbar-brand {
  color: #000000 !important; /* Warna teks navbar saat digulir */
}
.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}

.nav-link{
    color: white !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 500;
    font-size: 1em;
   
} 

 
/* page event */
@media screen and (min-width: 568px) {
  .cards-wrapper{
    display: flex;
  }

  .card{
    margin: 0.5em;
    width: calc(100%/3);
  }
  .image-wrapper{
    height: 22vw;
    margin: 0 auto;
    
  }
}
@media screen and (max-width: 567px) {
    .card:not(:third-child){
      display: none;
    }

    .card{
      margin: 0.5em;
    }

    .image-wrapper img{
    max-width: 100%;
    max-height: 100%;
  } 

  
}

.image-wrapper img{
  max-width: 100%;
  max-height: 100%;
} 

.card{
  background: linear-gradient(to top, rgb(176, 218, 255), rgb(250, 250, 250));
  margin-bottom: 50px;
}
.card-title{
  text-transform: uppercase;
}

.card-img-top {
  width: 100%;
}

#event{
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}  

@media only screen and (max-width: 600px) {
  footer{
    text-align: center;
  }

  .search{
    text-align: center;
  }
  
  #cookie{
    text-align: center;
  
  }
  
}
 
@media only screen and (min-width: 601px) {

  .search{
    text-align: right;
  }
  
  #cookie{
    text-align: right;
  
  }
}


footer {
    bottom: 0;
    width: 100%;
    background-color: #5881B7; 
    padding: 20px 0;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
}

.brand{
    /* display: block; */
    font-size: 2em;
    font-weight: 600;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active {
    text-decoration: none
}

ul{
    list-style: none;
    padding-left: 70px;
}
.media-icons li{
    display: inline-block;
    padding-left: 20px;
}
   
.media-icons .fab{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}


form{
    width: 220px;
    height: 45.98px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.situs{
  text-align: center;
  margin-top: 20px;
}

/* dhea */
  .pageTwo{
    width: 100dp;
  }
  .wisata{
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .gambarKuliner{
    margin-right: 50px;
    margin-left:25px;
  }
  .gambarDestinasiWisata{
    margin-right: 50px;
    margin-left:25px;
  }
  a:hover img {
    filter: brightness(70%);
  }
  .informasi{
    background-color: rgb(203, 235, 255);
    border-radius: 20px;
    width: 10px;
    height: 200px;
  }
  .textDestinasiWisata{
    background-color: #FFC3B9;
    justify-content: center;
    border-radius: 10px;
    color: black;
    display: flex;
    margin-bottom: 50px;
    padding-top: 8px;
    font-weight: bold;
    text-align: center;
   
  }

  .closingDestinasi{
    justify-content: center;
  }
  .textKuliner{
    background-color: #FFC3B9;
    justify-content: center;
    border-radius: 10px;
    color: black;
    display: flex;
    margin-bottom: 50px;
  }
  .desc{
    text-align: justify;
  }
  .informasiDestinasiWisata{
    overflow: auto;
    border-radius: 20px;
    width: 10px;
    height: 200px;
    background: linear-gradient(to bottom, rgb(162, 210, 253), rgb(241, 247, 251));
  }
  .informasiKuliner{
    overflow: auto;
    border-radius: 20px;
    width: 10px;
    height: 200px;
    background: linear-gradient(to bottom, rgb(162, 210, 253), rgb(241, 247, 251));
  }
  .judul {
    font-weight: bold;
  }
  .peta{
    font-style: italic;
    color: black;
  }

/* amel */
.hero-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://i.ibb.co/4gwY0Z4/heroimg.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  color: black;
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.5rem;
  font-weight: bold;
}

.hero-text p span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .hero-text {
    padding: 20px;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }
}
